
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* General Body Reset */
body {
    background-color: #D2F6C5;
    margin: 0;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
    padding-top: 60px; /* Space for header */
}

/* Exception for General Body */
body.login-body {
    background-color: #bfffe3;
    padding-top: 0;
}

/* Log-in Page */
.log-in-page {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 100vh; /* Adjust height to fit the browser window */
    overflow: hidden;
    text-align: left;
    font-size: 32px;
    color: #000;
}

/* Log-in Display */
.log-in-display {
    position: absolute;
    top: 175px;
    left: 1377px;
    font-size: 96px;
    font-weight: 600;
}

/* Form Container */
.form-container {
    position: absolute;
    top: 400px;
    left: 1285px;
    width: 515px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Labels */
.form-label {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

/* Input Fields */
.form-input:not(.add-quantity) {
    border: 2px solid #000;
    border-radius: 12px;
    padding: 10px 15px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
}

.form-input::placeholder {
    color: #aaa;
}

/* Focus State for Inputs */
.form-input:focus {
    border-color: #32ec98;
    outline: none;
    box-shadow: 0 0 5px #32ec98;
}

/* ---------------------------------------------------------- */
/* Log-In button*/ 
.btn-login {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
    color: #32c172;
    transition: all 1000ms;
    font-size: 18px;
    overflow: hidden;
    outline: 2px solid #31ba41;
    width: 200px;
    position: absolute;
    top: 225px;
    left: 150px;
    margin-top: 20px; /* Add margin to space it from the input */
  }
  
  .btn-login:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70ca8c;
    box-shadow: 4px 5px 17px -4px #269153;
  }
  
  .btn-login::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #30d564;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .btn-login:hover::before {
    width: 250%;
  }
  /* ---------------------------------------------------------- */

/* Other Styles */
.image-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 1159px;
    height: 100vh; /* Fit to the browser window */
}

.primesync-logo-main {
    position: absolute;
    top: 33px;
    left: 26px;
    width: 55px;
    height: 63px;
    object-fit: cover;
}

.primesync-logo-backdrop {
    position: absolute;
    top: -15px;
    left: -236px;
    width: 1400px;
    height: 100vh;
    object-fit: cover;
    opacity: 10%;
}

.merlies-rice-trading {
    position: absolute;
    top: 280px;
    left: 18px;
    font-weight: 600;
}

.mrt {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 250px;
    font-weight: 600;
}

.ims-display {
    position: absolute;
    top: 276px;
    left: 81px;
    width: 887px;
    height: 297px;
    font-size: 40px;
    color: #fff;
}

.copyright-text {
    position: absolute;
    bottom: 20px; /* Adjusted to push it slightly up */
    left: 26px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.too-many-failed {
    margin: 0;
}

.attempt-warning {
    position: absolute;
    top: 824px;
    left: 1388px;
    font-size: 20px;
    color: #ff0000;
    text-align: center;
}

.disabled {
    cursor: not-allowed; /* Show disabled cursor */
    background-color: #e0e0e0; /* Optional: indicate visually as disabled */
    opacity: 0.6; /* Optional: fade out for visual effect */
    pointer-events: none; /* Ensure no interaction */
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: #99F3BD;
    color: #272727; 
    padding: 10px 0;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

/* Sidebar Styles */
aside {
    width: 220px;
    background: #272727;
    padding: 20px;
    float: left;
    height: calc(100% - 240px);
    position: fixed; /* Sidebar should stay fixed, but content adjusted */
    top: 60px;
    left: 0;
    bottom: 0; /* Extend to bottom */
    height: calc(100vh - 60px);
    z-index: 999;
    transition: transform 0.3s;
}
/* Sidebar Toggle Styles */
#sidebar-toggle{
    position: fixed; 
    top: 85px; 
    left: 10px; 
    padding: 20px; 
    cursor: pointer; 
    background: #272727; 
    color: #99F3BD; 
    border: none; 
    border-radius: 5px;
    z-index: 1001;
    }

button.sidebar-btn-red, button.sidebar-btn-green{
    font-family: 'Poppins', sans-serif;
}

.sidebar-btn-green:hover, .sidebar-btn-green.active {
    background-color: #28DF99 !important;
    color: #000 !important;
    font-weight: 600;
}

.sidebar-btn-red:hover, .sidebar-btn-red.active {
    background-color: #F00 !important;
    color: #000 !important;
    font-weight: 600;
}

/* Sidebar modal for log-out; use for other modal references */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -20px;
    margin-right: -10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-btn {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.confirm-red {
    background-color: red;
    color: white;
}

.cancel {
    background-color: gray;
    color: white;
}
/* --------------------- end of sidebar modal style----------------------- */

/* Adjusting for fixed sidebar */
.content {
    background-color: #e4ffee;
    padding: 50px;
    padding-left: 280px;
    margin-top: 0;
    height: 100vh;
}

/* Footer Styles */
footer {
    position: fixed; /* Ensure the footer is below the content */
    width: 100%; /* Adjust width to not overlap sidebar */
    z-index: 1000;
    height: 5vh;
    background: #272727;
    color: #10c875;
    text-align: center;
    padding: 2px;
    margin-top: 20px;
    bottom: 0;
    font-size: 20px;
    font-weight: 600;
}

/* Specific style for the dashboard container */
.dashboard-container {
    margin: 40px 20px 10% 280px; /* Adjust margin for sidebar and header */
    padding: 20px;
    padding-bottom: 100px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Specific style for the POS container */
.POS-container {
    margin: 40px 20px 0 20px; /* Adjust margin for sidebar and header */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* --------------User Management Styles------------------------- */

/* Style for the table caption */
table caption {
    caption-side: top;
    font-size: 24px; /* Make the caption title bigger */
    font-weight: bold;
    padding: 10px;
}

/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse; /* Merge borders */
    margin-top: 20px;
}

/* Style for the table header and contents */
th, td {
    border: 1px solid;
    padding: 15px; /* Increase padding for wider columns */
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    font-size: 20px;
}

/* Style for the table header only*/
th{
    background-color: #000;
    color: #99F3BD;
    padding: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    text-align: center;
}

/* Style for the table rows */
tbody tr:hover {
    background-color: #272727; /* Darker highlight */
    color: #99F3BD; /* Lighter text */
}
/* --------------End of User Management Styles------------------ */

/* -------------- Add User Styles ---------- */

.add-user-container {
    margin: 40px 20px 80px 280px; /* Adjust margin for sidebar and header */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Prevent content overflow */
}

.add-user-container h2 {
    text-align: left;
    margin-bottom: 20px;
}

.add-user-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.add-user-container input[type="text"], .add-user-container input[type="password"], .add-user-container select {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-user-container button {
    padding: 10px;
    background-color: #32ec98;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.add-user-container button:hover {
    background-color: #28d488;
}
/* -------------- End of Add User Styles ---------- */

/* -------------- Edit User Modal Styles ---------- */

.usermodal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.usermodal-content:not(.add-item-form) {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.usermodal-content h2 {
    margin-bottom: 20px;
}

.usermodal-content label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

.usermodal-content input[type="text"], 
.usermodal-content input[type="password"], 
.usermodal-content input[type="number"],
.usermodal-content input[type="email"],
.usermodal-content textarea,
.form-input input[type="number"],
.edit-items-div input[type="text"],
.usermodal-content select {
    font-family: 'Poppins', sans-serif;
    width: calc(100% - 20px); /* Ensure padding doesn't overflow container */
    padding: 10px;
    margin: 0 auto 20px auto; /* Space each input */
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.add-item-form select, .add-item-form input[type="text"]{
    margin-left: 10px;
    justify-content: left;
    width: calc(100% - 5%); /* Ensure padding doesn't overflow container */
}

.add-item-form button {
    margin-left: 40%;
}

.usermodal-content textarea{
    resize: vertical;
}

.form-input input[type="number"] {
    width: 70%;
    margin-left: 0;
    padding: 10px;
    border-radius: 10px;
    justify-content: left;
}

.usermodal-content button:not(.toggle-password, #deleteSupplierForm button, .confirm-red, .edit){
    padding: 10px 20px;
    background-color: #10c875;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.usermodal-content button:hover:not(.toggle-password, #deleteSupplierForm button, .confirm-red, .edit) {
    background-color: #177b4e;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -20px;
    margin-right: -10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-btn {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.modal-btn.confirm {
    background-color: #32ec98;
    color: white;
}
.modal-btn.confirm:hover {
    background-color: #23a76c;
    color: white;
}

.modal-btn.confirm-red {
    background-color: red;
    color: white;
}
.modal-btn.confirm-red:hover {
    background-color: #950000;
    color: white;
}

.modal-btn.cancel {
    background-color: #7f7f7f;
    color: white;
}
.modal-btn.cancel:hover {
    background-color: #595959;
    color: white;
}

.modal-btn.edit {
    background-color: #5e7ae7;
    color: white;
}
.modal-btn.edit:hover {
    background-color: #27387b;
    color: white;
}

.modal-btn.add {
    background-color: #10c875;
    color: #fff;
}
.modal-btn.add:hover {
    background-color: #096f41;
    color: #fff;
}
/* -------------- End of Edit User Modal Styles ---------- */

/* -------------- Success Message Styles ---------- */

.success-message {
    margin: 20px;
    padding: 10px;
    background-color: #4aff95;
    color: #000;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}
/* End of Success Message Styles */

/* Dashboard Overview Styles: Update */

/* Adjust margins to avoid overlapping with fixed elements */
.dashboard-overview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.overview-box {
    flex: 1;
    padding: 30px;
    background-color: #99F3BD;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
}

.overview-box h2 {
    margin: 0;
    font-size: 36px;
    color: #333;
}

.overview-box p {
    margin: 10px 0 0;
    font-size: 18px;
    color: #666;
    margin-top: -8px;
}

/* End of Dashboard Overview Style */

/* --------------- Entries and page controllers Styles----------------- */

.entries-controller,
.entries-info,
.page-controller {
    margin: 10px 0;
    font-size: small;
}
#entriesSelect, #entries {
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #abffd9;
}
.page-controller {
    margin-top: -50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}
.page-controller button{
    font-family: 'Poppins', sans-serif;
    margin-left: 5px;
    padding: 3px 8px;
    border: none;
    border-radius: 5px;
    background-color: #dbdbdb;
    cursor: pointer;
    text-decoration: none;
}

/* --------------- End of Entries and Page Controllers Styles---------- */

/* --------------- Password Togglers Styles---------- */
.toggle-password {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    right: -14%;
    top: 50%;
    transform: translateY(-50%);
    background: #99F3BD;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
}
.toggle-on-delete-modal{
    right: -8%;
}
.category-delete-toggle{
    right: 36.2%;
    top: 43.8%
}

.category-delete-toggle-ao{
    right: 39.1%;
    top: 34.9%
}

.admin-password-toggle{
    right: -25px;
    padding: 4px;
}
.password-container {
    font-size: large;
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 88%;
}
#admin_password{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding: 3px;
    border-radius: 5px;
    width: 90%;
    margin: 1px;
}
/* --------------- End of Password Togglers Styles---------- */

/* Inventory List.php styles */
.search-bar input[type="text"]{
    font-family: 'Poppins', sans-serif;
    width: calc(100% - 20px); /* Ensure padding doesn't overflow container */
    padding: 10px;
    margin: 0 auto 20px auto; /* Space each input */
    border-radius: 5px;
    font-size: 16px;
}

.search-bar, .pagination {
    float: right;
}
.search-bar input[type="text"], .entries-per-page select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button, .pagination a, .page-controller button {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #10c875;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.pagination {
    margin-top: -40px;
}

.entries-per-page {
    margin-top: 20px;
}

.search-bar button:hover, .pagination a:hover, .page-controller button:hover {
    background-color: #177b4e;
}

.inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.inventory-table th, .inventory-table td {
    border: 1px solid;
    padding: 20px;
    text-align: left;
}
/* .inventory-table th {
    background-color: #f2f2f2;
} */
.action-buttons a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 15px;
}
.stock-entry {
    background-color: #4CAF50;
}
.edit-item {
    background-color: #ff9800;
}


.search-bar input[type="text"] {
    width: 350px;
} 

/* End of Inventory List Styles */

/* Edit Items Div container */
.edit-items-div, .add-quantity-div{
    width: 50%;
    margin-left: 32%;
}

.add-item-div {
    width: 40%;
    margin-left: 35%;
}

/* Styles for sales report page */
.button-container {
    margin-bottom: 20px;
}

.button-container button {
    margin-right: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Specific style for the dashboard container on reports */
.dashboard-container.reports {
    background-color: #f6fff1;
    margin: 20px; 
}

.graph-div {
    background-color: #f6fff1;
    margin: 100px; 
    width: 50%;
}

/* ----------Dashboard overview styles------------------ */

.overview-box {
    flex: 1;
    padding: 30px;
    background-color: #99F3BD;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
}

.overview-box h2 {
    margin: 0;
    font-size: 36px;
    color: #333;
}

.overview-box p {
    margin: 10px 0 0;
    font-size: 18px;
    color: #666;
    margin-top: -8px;
}

.low-stock-alert {
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    background-color: #ffe6e6;
    width: 30%;
}
.low-stock-alert h2 {
    color: red;
    margin-bottom: 10px;
}
.low-stock-alert table {
    width: 100%;
    border-collapse: collapse;
}
.low-stock-alert th, .low-stock-alert td {
    border: 1px solid red;
    padding: 5px;
    text-align: left;
    font-size: 15px;
}
.low-stock-alert th {
    background-color: #990000;
    color: white;
}
